body {
    font-size: 1.5rem;
}

.columns {
    column-count: 4;
    column-width: 250px;
    column-rule: 3px solid #000;
}

.columns p {
    margin: 0;
    padding: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: gray;
    color: white;
    padding: 1rem;
    break-inside: avoid;
}

.columns .quote {
    margin: 2rem;
    font-size: 3rem;
    text-align: center;
    color: coral;
    column-span: all;
}

.nowrap {
    white-space: nowrap;
}